In [1]:
import pandas as pd
from yahooquery import Ticker
from talib.abstract import *

import warnings
warnings.filterwarnings('ignore')

In [2]:
stock_list = pd.read_csv('stock_list.csv')

In [3]:
df_etf = stock_list[stock_list['Market Cap'] != '-']
df_etf

,No.,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,1,A,Agilent Technologies Inc.,Healthcare,Diagnostics & Research,USA,40.71B,33.10,138.93,0.86%,444418.0
1,2,AA,Alcoa Corp,Basic Materials,Aluminum,USA,6.76B,0.00,37.67,2.13%,4570106.0
4,5,AACG,ATA Creativity Global ADR,Consumer Defensive,Education & Training Services,China,27.99M,0.00,0.89,2.30%,14326.0
5,6,AACI,Armada Acquisition Corp I,Financial,Shell Companies,USA,94.42M,0.00,11.70,1.47%,78277.0
6,7,AACT,Ares Acquisition Corporation II,Financial,Shell Companies,USA,663.75M,39.25,10.62,0.05%,28690.0
...,...,...,...,...,...,...,...,...,...,...,...
9496,9497,ZVRA,Zevra Therapeutics Inc,Healthcare,Biotechnology,USA,197.61M,0.00,4.55,0.66%,88387.0
9497,9498,ZVSA,ZyVersa Therapeutics Inc,Healthcare,Biotechnology,USA,4.39M,0.00,5.78,15.84%,7972123.0
9498,9499,ZWS,Zurn Elkay Water Solutions Corp,Industrials,Pollution & Treatment Controls,USA,5.52B,45.29,31.95,0.79%,565440.0
9499,9500,ZYME,Zymeworks BC Inc,Healthcare,Biotechnology,USA,592.94M,0.00,8.33,0.79%,200250.0
9500,9501,ZYXI,Zynex Inc,Healthcare,Medical Distribution,USA,370.92M,43.07,11.53,2.85%,153414.0

In [4]:
# Function to convert values
def convert_to_millions(value):
    if 'B' in value:
        return float(value.replace('B', '')) * 1000
    elif 'M' in value:
        return float(value.replace('M', ''))
    else:
        return float(value)

# Apply the function to the 'Market Cap' column
df_etf['Market Cap'] = df_etf['Market Cap'].apply(convert_to_millions)
df_etf

,No.,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
0,1,A,Agilent Technologies Inc.,Healthcare,Diagnostics & Research,USA,40710.00,33.10,138.93,0.86%,444418.0
1,2,AA,Alcoa Corp,Basic Materials,Aluminum,USA,6760.00,0.00,37.67,2.13%,4570106.0
4,5,AACG,ATA Creativity Global ADR,Consumer Defensive,Education & Training Services,China,27.99,0.00,0.89,2.30%,14326.0
5,6,AACI,Armada Acquisition Corp I,Financial,Shell Companies,USA,94.42,0.00,11.70,1.47%,78277.0
6,7,AACT,Ares Acquisition Corporation II,Financial,Shell Companies,USA,663.75,39.25,10.62,0.05%,28690.0
...,...,...,...,...,...,...,...,...,...,...,...
9496,9497,ZVRA,Zevra Therapeutics Inc,Healthcare,Biotechnology,USA,197.61,0.00,4.55,0.66%,88387.0
9497,9498,ZVSA,ZyVersa Therapeutics Inc,Healthcare,Biotechnology,USA,4.39,0.00,5.78,15.84%,7972123.0
9498,9499,ZWS,Zurn Elkay Water Solutions Corp,Industrials,Pollution & Treatment Controls,USA,5520.00,45.29,31.95,0.79%,565440.0
9499,9500,ZYME,Zymeworks BC Inc,Healthcare,Biotechnology,USA,592.94,0.00,8.33,0.79%,200250.0
9500,9501,ZYXI,Zynex Inc,Healthcare,Medical Distribution,USA,370.92,43.07,11.53,2.85%,153414.0

In [5]:
# Calculate the 10th percentile of MarketCap
percentile_10 = df_etf['Market Cap'].quantile(0.05)

# Filter the DataFrame to get rows where MarketCap is less than the 10th percentile
filtered_df = df_etf[df_etf['Market Cap'] < percentile_10]

filtered_df

,No.,Ticker,Company,Sector,Industry,Country,Market Cap,P/E,Price,Change,Volume
79,80,ACON,Aclarion Inc,Healthcare,Health Information Services,USA,2.23,0.0,0.31,-7.27%,2265752.0
103,104,ADD,Color Star Technology Co Ltd,Communication Services,Entertainment,USA,2.38,0.0,0.22,4.05%,80450.0
107,108,ADIL,Adial Pharmaceuticals Inc,Healthcare,Biotechnology,USA,6.79,0.0,1.68,4.19%,197431.0
123,124,ADTX,Aditxt Inc,Healthcare,Biotechnology,USA,4.78,0.0,2.44,2.09%,29270.0
129,130,ADXN,Addex Therapeutics Ltd ADR,Healthcare,Biotechnology,Switzerland,5.96,0.0,7.54,-53.17%,158141.0
...,...,...,...,...,...,...,...,...,...,...,...
9392,9393,XYLO,Xylo Technologies Ltd. ADR,Healthcare,Medical Devices,Israel,3.12,0.0,1.67,1.77%,16152.0
9398,9399,YCBD,cbdMD Inc,Healthcare,Drug Manufacturers - Specialty & Generic,USA,2.68,0.0,0.88,1.02%,44782.0
9422,9423,YOSH,Yoshiharu Global Co,Consumer Cyclical,Restaurants,USA,5.09,0.0,3.83,4.94%,5189.0
9431,9432,YTEN,Yield10 Bioscience Inc,Basic Materials,Agricultural Inputs,USA,3.48,0.0,0.23,1.89%,264184.0
9497,9498,ZVSA,ZyVersa Therapeutics Inc,Healthcare,Biotechnology,USA,4.39,0.0,5.78,15.84%,7972123.0

In [6]:
tickers = Ticker(filtered_df['Ticker'].values, asynchronous=True)

# Default period = ytd, interval = 1d
df_stock = tickers.history(start='2022-05-01',end='2024-05-01',interval='1d')

df_stock

                        open       high        low      close     volume  \
symbol date
ACON   2022-05-02  32.160000  35.680000  28.959999  29.120001    39819.0
       2022-05-03  29.120001  32.799999  26.240000  27.520000    41069.0
       2022-05-04  32.480000  40.160000  30.879999  37.599998  2001169.0
       2022-05-05  34.720001  36.703999  32.000000  33.919998    74863.0
       2022-05-06  32.959999  38.720001  32.160000  32.160000    79519.0
...                      ...        ...        ...        ...        ...
ZVSA   2024-04-24   5.990000   6.200000   5.740000   6.100000    32860.0
       2024-04-25   5.780000   6.300000   5.600000   6.080000    40900.0
       2024-04-26   5.440000   6.200000   4.440000   4.990000   440500.0
       2024-04-29   6.530000   6.700000   5.150000   5.770000  8062900.0
       2024-04-30   5.590000   5.590000   5.095000   5.290000   189100.0

                    adjclose  splits  dividends
symbol date
ACON   2022-05-02  29.120001     0.0        0.0
       2022-05-03  27.520000     0.0        0.0
       2022-05-04  37.599998     0.0        0.0
       2022-05-05  33.919998     0.0        0.0
       2022-05-06  32.160000     0.0        0.0
...                      ...     ...        ...
ZVSA   2024-04-24   6.100000     0.0        0.0
       2024-04-25   6.080000     0.0        0.0
       2024-04-26   4.990000     0.1        0.0
       2024-04-29   5.770000     0.0        0.0
       2024-04-30   5.290000     0.0        0.0

[142990 rows x 8 columns]

In [7]:
# Convert 'date' in MultiIndex to Timestamp
df_stock.index = df_stock.index.set_levels(pd.to_datetime(df_stock.index.levels[1]), level='date')
df_stock

                        open       high        low      close     volume  \
symbol date
ACON   2022-05-02  32.160000  35.680000  28.959999  29.120001    39819.0
       2022-05-03  29.120001  32.799999  26.240000  27.520000    41069.0
       2022-05-04  32.480000  40.160000  30.879999  37.599998  2001169.0
       2022-05-05  34.720001  36.703999  32.000000  33.919998    74863.0
       2022-05-06  32.959999  38.720001  32.160000  32.160000    79519.0
...                      ...        ...        ...        ...        ...
ZVSA   2024-04-24   5.990000   6.200000   5.740000   6.100000    32860.0
       2024-04-25   5.780000   6.300000   5.600000   6.080000    40900.0
       2024-04-26   5.440000   6.200000   4.440000   4.990000   440500.0
       2024-04-29   6.530000   6.700000   5.150000   5.770000  8062900.0
       2024-04-30   5.590000   5.590000   5.095000   5.290000   189100.0

                    adjclose  splits  dividends
symbol date
ACON   2022-05-02  29.120001     0.0        0.0
       2022-05-03  27.520000     0.0        0.0
       2022-05-04  37.599998     0.0        0.0
       2022-05-05  33.919998     0.0        0.0
       2022-05-06  32.160000     0.0        0.0
...                      ...     ...        ...
ZVSA   2024-04-24   6.100000     0.0        0.0
       2024-04-25   6.080000     0.0        0.0
       2024-04-26   4.990000     0.1        0.0
       2024-04-29   5.770000     0.0        0.0
       2024-04-30   5.290000     0.0        0.0

[142990 rows x 8 columns]

In [8]:
# df_stock.to_csv('df_stock.cvs')

In [9]:
columns_index = [
    # Overlap Studies
    'DEMA', 'EMA', 'HT_TRENDLINE',
    'KAMA', 'MA', 'MIDPOINT',
    'MIDPRICE', 'SAR', 'SAREXT',
    'SMA', 'T3', 'TEMA', 'TRIMA', 'WMA',
    # Momentum Indicators
    'ADX', 'ADXR', 'APO',
    'AROONOSC', 'BOP',
    'CCI', 'CMO', 'DX',
    'MFI', 'MINUS_DI', 'MINUS_DM',
    'MOM', 'PLUS_DI', 'PLUS_DM',
    'PPO', 'ROC', 'ROCP',
    'ROCR', 'ROCR100', 'RSI',
    'TRIX', 'ULTOSC', 'WILLR',
    # Volume Indicators
    'AD', 'OBV', 'ADOSC',
    # Cycle Indicators
    'HT_DCPERIOD', 'HT_DCPHASE',
    # Price Transform
    'AVGPRICE', 'MEDPRICE', 'TYPPRICE', 'WCLPRICE',
    # Volatility Indicators
    'ATR', 'NATR', 'TRANGE',]
    # # Statistic Functions
    # 'BETA', 'CORREL', 'LINEARREG', 'LINEARREG_ANGLE',
    # 'LINEARREG_INTERCEPT', 'LINEARREG_SLOPE',
    # 'STDDEV', 'TSF', 'VAR']


def convert_df(x, df):
    inputs = {
        'open': df["open"].to_numpy(),
        'high': df["high"].to_numpy(),
        'low': df["low"].to_numpy(),
        'close': df["adjclose"].to_numpy(),
        'volume': df["volume"].to_numpy()
    }
    y = eval(x)
    df[x] = 0.0
    df[x] = y(inputs)
    return df


def calculate_index(df):
    for i in columns_index:
        convert_df(i, df)
    return df

In [10]:
df_techIndi = df_stock.groupby(['symbol'])[
    ['open', 'high', 'low', 'adjclose', 'volume']].apply(lambda x: calculate_index(x))
df_techIndi

                        open       high        low   adjclose     volume  \
symbol date
ACON   2022-05-02  32.160000  35.680000  28.959999  29.120001    39819.0
       2022-05-03  29.120001  32.799999  26.240000  27.520000    41069.0
       2022-05-04  32.480000  40.160000  30.879999  37.599998  2001169.0
       2022-05-05  34.720001  36.703999  32.000000  33.919998    74863.0
       2022-05-06  32.959999  38.720001  32.160000  32.160000    79519.0
...                      ...        ...        ...        ...        ...
ZVSA   2024-04-24   5.990000   6.200000   5.740000   6.100000    32860.0
       2024-04-25   5.780000   6.300000   5.600000   6.080000    40900.0
       2024-04-26   5.440000   6.200000   4.440000   4.990000   440500.0
       2024-04-29   6.530000   6.700000   5.150000   5.770000  8062900.0
       2024-04-30   5.590000   5.590000   5.095000   5.290000   189100.0

                       DEMA       EMA  HT_TRENDLINE      KAMA        MA  ...  \
symbol date                                                              ...
ACON   2022-05-02       NaN       NaN           NaN       NaN       NaN  ...
       2022-05-03       NaN       NaN           NaN       NaN       NaN  ...
       2022-05-04       NaN       NaN           NaN       NaN       NaN  ...
       2022-05-05       NaN       NaN           NaN       NaN       NaN  ...
       2022-05-06       NaN       NaN           NaN       NaN       NaN  ...
...                     ...       ...           ...       ...       ...  ...
ZVSA   2024-04-24  6.144420  6.988913      6.977292  6.916742  7.212000  ...
       2024-04-25  6.085408  6.930273      6.915812  6.880881  7.154333  ...
       2024-04-26  5.897633  6.805094      6.827805  6.728070  7.054333  ...
       2024-04-29  5.826927  6.738314      6.721743  6.688282  6.986333  ...
       2024-04-30  5.704875  6.644874      6.608488  6.572261  6.879667  ...

                           ADOSC  HT_DCPERIOD  HT_DCPHASE   AVGPRICE  \
symbol date
ACON   2022-05-02            NaN          NaN         NaN  31.480000
       2022-05-03            NaN          NaN         NaN  28.920000
       2022-05-04            NaN          NaN         NaN  35.279999
       2022-05-05            NaN          NaN         NaN  34.335999
       2022-05-06            NaN          NaN         NaN  34.000000
...                          ...          ...         ...        ...
ZVSA   2024-04-24  -20424.471118    22.580023   -9.354736   6.007500
       2024-04-25   -9544.799636    23.023356   -7.660383   5.940000
       2024-04-26  -56786.008199    22.799337   -6.386364   5.267500
       2024-04-29 -584043.229138    22.283037   -1.970698   6.037500
       2024-04-30 -759407.466597    21.848365    2.463822   5.391250

                    MEDPRICE   TYPPRICE   WCLPRICE       ATR       NATR  \
symbol date
ACON   2022-05-02  32.320000  31.253333  30.720000       NaN        NaN
       2022-05-03  29.520000  28.853333  28.520000       NaN        NaN
       2022-05-04  35.520000  36.213332  36.559999       NaN        NaN
       2022-05-05  34.351999  34.207999  34.135999       NaN        NaN
       2022-05-06  35.440001  34.346667  33.800000       NaN        NaN
...                      ...        ...        ...       ...        ...
ZVSA   2024-04-24   5.970000   6.013333   6.035000  0.753465  12.351887
       2024-04-25   5.950000   5.993333   6.015000  0.749646  12.329707
       2024-04-26   5.320000   5.210000   5.155000  0.821814  16.469225
       2024-04-29   5.925000   5.873333   5.847500  0.885256  15.342394
       2024-04-30   5.342500   5.325000   5.316250  0.870238  16.450621

                      TRANGE
symbol date
ACON   2022-05-02        NaN
       2022-05-03   6.559999
       2022-05-04  12.639999
       2022-05-05   5.599998
       2022-05-06   6.560001
...                      ...
ZVSA   2024-04-24   0.570000
       2024-04-25   0.700000
       2024-04-26   1.760000
       2024-04-29   1.710000
       2024-04-30   0.675000

[142990 rows x 54 columns]

In [11]:
df_techIndi.dropna(inplace=True)
df_techIndi

                        open       high        low   adjclose     volume  \
symbol date
ACON   2022-09-07  18.080000  19.200001  17.120001  18.400000     3050.0
       2022-09-08  18.559999  18.719999  17.280001  18.719999     2675.0
       2022-09-09  19.200001  20.799999  17.600000  19.680000    15175.0
       2022-09-12  19.040001  22.559999  19.040001  21.760000    13356.0
       2022-09-13  21.120001  21.600000  18.719999  19.840000     5250.0
...                      ...        ...        ...        ...        ...
ZVSA   2024-04-24   5.990000   6.200000   5.740000   6.100000    32860.0
       2024-04-25   5.780000   6.300000   5.600000   6.080000    40900.0
       2024-04-26   5.440000   6.200000   4.440000   4.990000   440500.0
       2024-04-29   6.530000   6.700000   5.150000   5.770000  8062900.0
       2024-04-30   5.590000   5.590000   5.095000   5.290000   189100.0

                        DEMA        EMA  HT_TRENDLINE       KAMA         MA  \
symbol date
ACON   2022-09-07  17.593392  17.164137     17.519047  16.090902  17.053333
       2022-09-08  17.759978  17.264515     17.835920  16.142636  17.197333
       2022-09-09  18.029634  17.420353     18.093653  16.214931  17.347200
       2022-09-12  18.532217  17.700330     18.393387  16.371718  17.555200
       2022-09-13  18.745727  17.838373     18.590720  16.436716  17.707200
...                      ...        ...           ...        ...        ...
ZVSA   2024-04-24   6.144420   6.988913      6.977292   6.916742   7.212000
       2024-04-25   6.085408   6.930273      6.915812   6.880881   7.154333
       2024-04-26   5.897633   6.805094      6.827805   6.728070   7.054333
       2024-04-29   5.826927   6.738314      6.721743   6.688282   6.986333
       2024-04-30   5.704875   6.644874      6.608488   6.572261   6.879667

                   ...          ADOSC  HT_DCPERIOD  HT_DCPHASE  AVGPRICE  \
symbol date        ...
ACON   2022-09-07  ...  -34349.344762    15.181595  280.274013  18.20000
       2022-09-08  ...  -27225.029405    15.160085  312.724285  18.32000
       2022-09-09  ...  -20387.009344    15.069376   17.870872  19.32000
       2022-09-12  ...  -13418.288497    14.899989   81.865758  20.60000
       2022-09-13  ...   -9718.815371    14.699255  108.713298  20.32000
...                ...            ...          ...         ...       ...
ZVSA   2024-04-24  ...  -20424.471118    22.580023   -9.354736   6.00750
       2024-04-25  ...   -9544.799636    23.023356   -7.660383   5.94000
       2024-04-26  ...  -56786.008199    22.799337   -6.386364   5.26750
       2024-04-29  ... -584043.229138    22.283037   -1.970698   6.03750
       2024-04-30  ... -759407.466597    21.848365    2.463822   5.39125

                    MEDPRICE   TYPPRICE  WCLPRICE       ATR       NATR  \
symbol date
ACON   2022-09-07  18.160001  18.240000  18.28000  3.173335  17.246384
       2022-09-08  18.000000  18.240000  18.36000  3.049525  16.290198
       2022-09-09  19.200000  19.360000  19.44000  3.060273  15.550168
       2022-09-12  20.800000  21.120000  21.28000  3.093111  14.214662
       2022-09-13  20.160000  20.053333  20.00000  3.089317  15.571154
...                      ...        ...       ...       ...        ...
ZVSA   2024-04-24   5.970000   6.013333   6.03500  0.753465  12.351887
       2024-04-25   5.950000   5.993333   6.01500  0.749646  12.329707
       2024-04-26   5.320000   5.210000   5.15500  0.821814  16.469225
       2024-04-29   5.925000   5.873333   5.84750  0.885256  15.342394
       2024-04-30   5.342500   5.325000   5.31625  0.870238  16.450621

                     TRANGE
symbol date
ACON   2022-09-07  2.080000
       2022-09-08  1.439999
       2022-09-09  3.199999
       2022-09-12  3.519999
       2022-09-13  3.040001
...                     ...
ZVSA   2024-04-24  0.570000
       2024-04-25  0.700000
       2024-04-26  1.760000
       2024-04-29  1.710000
       2024-04-30  0.675000

[116647 rows x 54 columns]

In [12]:
df_techIndi.to_csv('df_techIndi.csv')

# Merge data

In [14]:
df_techIndi['RET'] = df_techIndi.groupby(['symbol'])['adjclose'].apply(lambda x: x/x.shift(1)-1).values
df_select = df_techIndi[['RET','adjclose','MIDPOINT','ADX','MINUS_DM','PLUS_DI','PPO']]
df_select

                        RET   adjclose  MIDPOINT        ADX  MINUS_DM  \
symbol date
ACON   2022-09-07       NaN  18.400000    17.968  54.326874  4.147410
       2022-09-08  0.017391  18.719999    17.968  54.420717  3.851167
       2022-09-09  0.051282  19.680000    18.320  54.869909  3.576083
       2022-09-12  0.105691  21.760000    19.120  55.551678  3.320649
       2022-09-13 -0.088235  19.840000    19.120  55.971826  3.403461
...                     ...        ...       ...        ...       ...
ZVSA   2024-04-24  0.083481   6.100000     6.565  23.921625  2.240181
       2024-04-25 -0.003279   6.080000     6.565  22.849133  2.220168
       2024-04-26 -0.179276   4.990000     6.245  22.167772  3.221585
       2024-04-29  0.156313   5.770000     6.245  20.834961  2.991471
       2024-04-30 -0.083189   5.290000     6.245  19.667262  2.832795

                     PLUS_DI        PPO
symbol date
ACON   2022-09-07  32.768856   5.909364
       2022-09-08  31.663132   6.091101
       2022-09-09  34.154034   5.523223
       2022-09-12  35.442564   5.357414
       2022-09-13  32.950533   4.729925
...                      ...        ...
ZVSA   2024-04-24  27.098659  -9.634031
       2024-04-25  25.291228  -9.935246
       2024-04-26  21.422388 -11.353183
       2024-04-29  22.500987 -12.256012
       2024-04-30  21.254352 -13.063918

[116647 rows x 7 columns]

In [15]:
df_select.reset_index(inplace=True)
df_select.set_index(['date'],inplace=True)
df_select

,symbol,RET,adjclose,MIDPOINT,ADX,MINUS_DM,PLUS_DI,PPO
date,,,,,,,,
2022-09-07,ACON,NaN,18.400000,17.968,54.326874,4.147410,32.768856,5.909364
2022-09-08,ACON,0.017391,18.719999,17.968,54.420717,3.851167,31.663132,6.091101
2022-09-09,ACON,0.051282,19.680000,18.320,54.869909,3.576083,34.154034,5.523223
2022-09-12,ACON,0.105691,21.760000,19.120,55.551678,3.320649,35.442564,5.357414
2022-09-13,ACON,-0.088235,19.840000,19.120,55.971826,3.403461,32.950533,4.729925
...,...,...,...,...,...,...,...,...
2024-04-24,ZVSA,0.083481,6.100000,6.565,23.921625,2.240181,27.098659,-9.634031
2024-04-25,ZVSA,-0.003279,6.080000,6.565,22.849133,2.220168,25.291228,-9.935246
2024-04-26,ZVSA,-0.179276,4.990000,6.245,22.167772,3.221585,21.422388,-11.353183
2024-04-29,ZVSA,0.156313,5.770000,6.245,20.834961,2.991471,22.500987,-12.256012
2024-04-30,ZVSA,-0.083189,5.290000,6.245,19.667262,2.832795,21.254352,-13.063918

In [16]:
df_five_factor = pd.read_csv('F-F_Research_Data_5_Factors_2x3_daily.csv',index_col='date', parse_dates=True)
df_five_factor = df_five_factor.drop('RF',axis=1)
df_five_factor

            Mkt-RF   SMB   HML   RMW   CMA
date
1963-07-01   -0.67  0.02 -0.35  0.03  0.13
1963-07-02    0.79 -0.28  0.28 -0.08 -0.21
1963-07-03    0.63 -0.18 -0.10  0.13 -0.25
1963-07-05    0.40  0.09 -0.28  0.07 -0.30
1963-07-08   -0.63  0.07 -0.20 -0.27  0.06
...            ...   ...   ...   ...   ...
2024-02-23    0.02  0.32 -0.03  0.09 -0.11
2024-02-26   -0.26  0.97 -0.11 -0.74 -0.01
2024-02-27    0.27  1.24 -0.45 -1.14  0.67
2024-02-28   -0.26 -0.90  0.00 -0.05  0.53
2024-02-29    0.54 -0.16  0.98  0.27 -0.73

[15270 rows x 5 columns]

In [17]:
merged_df = pd.merge(df_select, df_five_factor, on='date', how='inner')
merged_df

,symbol,RET,adjclose,MIDPOINT,ADX,MINUS_DM,PLUS_DI,PPO,Mkt-RF,SMB,HML,RMW,CMA
date,,,,,,,,,,,,,
2022-09-07,ACON,NaN,18.400000,17.968000,54.326874,4.147410,32.768856,5.909364,1.92,0.41,-1.53,-1.30,-0.54
2022-09-07,ADD,NaN,4.400000,4.600000,16.723327,0.810412,20.628365,-4.087047,1.92,0.41,-1.53,-1.30,-0.54
2022-09-07,ADIL,NaN,12.500000,13.625000,38.116131,8.444755,14.378589,-4.064487,1.92,0.41,-1.53,-1.30,-0.54
2022-09-07,ADTX,NaN,280.000000,318.000000,28.738466,86.119374,24.066260,-4.596189,1.92,0.41,-1.53,-1.30,-0.54
2022-09-07,ADXN,NaN,19.799999,23.200000,14.450208,10.294055,17.416323,-7.863139,1.92,0.41,-1.53,-1.30,-0.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-29,XYLO,0.000000,2.660000,2.885000,28.457419,0.540184,8.487398,-3.849636,0.54,-0.16,0.98,0.27,-0.73
2024-02-29,YCBD,-0.053597,0.671000,0.689500,18.838222,0.116766,17.743221,-5.500466,0.54,-0.16,0.98,0.27,-0.73
2024-02-29,YOSH,0.025581,4.410000,4.875000,35.207948,1.729991,21.857853,2.603119,0.54,-0.16,0.98,0.27,-0.73
2024-02-29,YTEN,-0.072549,5.675999,6.425999,33.050346,1.913907,29.406525,0.640959,0.54,-0.16,0.98,0.27,-0.73
2024-02-29,ZVSA,0.100000,11.000000,8.280000,32.502520,2.348661,51.639485,12.396367,0.54,-0.16,0.98,0.27,-0.73

In [18]:
merged_df.dropna(inplace=True)
merged_df.to_csv('merged_df.csv')